<!doctype html>
<title>BeersWaldo</title>
<link rel="apple-touch-icon" sizes="57x57" href="./assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
<link rel="manifest" href="./assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<html ng-app="beersWaldo">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="styles.css">

<script src="./controller.js"></script>

<body>
<div id="headerContainer">
	<div id="logo"><img src="/assets/logo.png"></div>
	<div id="title">BeersWaldo</div>
</div>
<div id="instructions">
	<p>~ enter a <strong>BEER, BREWERY</strong> and <strong>LOCATION</strong> below to see recent tweets and more info! ~</p>
	<p style="font-size: 16px; font-style: italic"> (note, only results from the past 7-10 days will be returned)</p>
</div>

<div ng-controller="beerController">
    
    <form id="input-form" class="form-vertical" ng-submit="getResults(beer, brewery, location)" method="post">
    	
    	<div id="inputContainer">
    	<div class="form-group">
    		<label for="Beer">Beer :</label>
    		<input type="text" class="form-control" ng-model="beer" placeholder="ex: Waldos' Special Ale">
      </div>
      
      <div class="form-group">
      	<label for="Brewery">Brewery :</label>
      	<input type="text" class="form-control" ng-model="brewery" placeholder="ex: Lagunitas">
      </div>

      <div class="form-group">
      	<label for="Location">Location :</label>
      	<input type="text" class="form-control" ng-model="location" placeholder="ex: Los Angeles, CA">
      </div>
      </div>

      <button class="btn" type="submit"><img id="search" src="/assets/search_icon.png"></button>
    
    </form>

    <ul class="nav nav-tabs">
    	<li class="active"><a data-toggle="tab" href="#tweets">Tweets</a></li>
    	<li><a data-toggle="tab" href="#info">Info</a></li>
    </ul>

    <div class="tab-content">
    	
    	<div id="tweets" class="tab-pane fade in active">
				<table class="table" id="beerTable">
					<tr ng-repeat="tweet in tweets | filter:filter">
						<td id="screen_name">
							<a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}">
							@{{tweet.user.screen_name}}
							</a>
						</td>
						<td id="tweet_text" ng-bind-html="tweet.text | linky">{{tweet.text}}</td>
						<td id="created_at">{{tweet.created_at.slice(0, 19)}}</td>
					</tr>
				</table>
			</div>

			<div id="info" class="tab-pane fade">
			</div>

		</div>
</body>
</html>