<!doctype html>
<html ng-app="beersWaldo">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="styles.css">

<script src="./controller.js"></script>

<body>
<div id="logo"><img src="/assets/logo.png"></div>
<div id="title">BEERS WALDO?</div>

<div id="instructions">~ enter a BEER/BREWERY and LOCATION below to see who's tweeting! ~</div>

<div ng-controller="TwitterController">
    <form id="input-form" class="form-horizontal" ng-submit="getTweets(keyword, location)" method="post">
        <input type="text" ng-model="keyword" placeholder="ex: Lagunitas IPA">
        <input type="text" ng-model="location" placeholder="ex: Los Angeles, CA">
        <button class="btn" type="submit"><i class="icon-search"></i>Search</button>
        <!-- <input type="text" ng-model="filter" placeholder="filter by #hashtag"> -->
    </form>
    <table class="table table-striped">
        <tr ng-animate="animate" ng-repeat="tweet in tweets | filter:filter">
        <!-- <td id="profile_banner" ng-style="{backgroundImage: 'url({{tweet.user.profile_banner_url}})', backgroundSize: 'cover'}"></td> -->
        <td id="screen_name">@{{tweet.user.screen_name}}</td>
        <td id="tweet_text" ng-bind-html="tweet.text | linky">{{tweet.text}}</td>
        <td id="created_at">{{tweet.created_at.slice(0, 19)}}</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>