body {
	background-color: #e1e8ed;
}

input {
	width: 200px;
	font-size: 20px;
	font-family: Roboto;
}

tr {
   height: 10vh;
}

#logo {
	width: 200px;
	height: 200px;
	margin: 20px 20px 20px 20px;
}

button {
	background-color: #66CC33;
	width: 150px;
	height: 40px;
	font-size: 25px;
	font-family: Helvetica Neue;
	border-radius: 12px;
	border-width: 4px;
}
button:hover {
	background-color: white;
	border-color: #FFA500;
	border-width: 4px;
}

#title {
    text-shadow: 2px 5px black;
    font-family: Impact;
    background-color: #00A651;
    border-style: solid;
    border-width: 5px;
    font-size: 6em;
    color: whitesmoke;
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#instructions {
	font-family: Roboto;
	font-size: 20px;
	color: #292f33;
	position: center;
	margin: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#input-form {
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#profile_banner {
	width: 15vw;
}

#screen_name {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: bold;
    color: firebrick;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px white;
    background-color: #ffd900;
    border-radius: 20px;
}

#tweet_text {
	font-family: Helvetica Neue;
	color: #292f33;
	font-size: 1.5em;
}

#created_at {
	color: #55ACEE;
	font-style: italic;
	font-size: 14px;
	font-weight: 800;

}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}
