<!doctype html>
<title>BeersWaldo</title>
<html ng-app="beersWaldo">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="styles.css">

<script src="./controller.js"></script>

<body>
<div id="headerContainer">
	<div id="logo"><img src="/assets/logo.png"></div>
	<div id="title">BeersWaldo</div>
</div>
<div id="instructions">
	<p>~ enter a <strong>BEER, BREWERY</strong> and <strong>LOCATION</strong> below to see recent tweets and more info! ~</p>
	<p style="font-size: 16px; font-style: italic"> (note, only results from the past 7-10 days will be returned)</p>
	<p style="font-size: 12px">Beer info provided by: <img id="breweryDB" src="/assets/brewerydb.png"></p>
</div>

<div ng-controller="beerController">
    
    <form id="input-form" class="form-vertical" ng-submit="getResults(beer, brewery, location)" method="post">
    	
    	<div id="inputContainer">
    	<div class="form-group">
    		<label for="Beer">Beer :</label>
    		<input type="text" class="form-control" ng-model="beer" placeholder="ex: Waldos' Special Ale">
      </div>
      
      <div class="form-group">
      	<label for="Brewery">Brewery :</label>
      	<input type="text" class="form-control" ng-model="brewery" placeholder="ex: Lagunitas">
      </div>

      <div class="form-group">
      	<label for="Location">Location :</label>
      	<input type="text" class="form-control" ng-model="location" placeholder="ex: Los Angeles, CA">
      </div>
      </div>

      <button class="btn" type="submit"><img id="search" src="/assets/search_icon.png"></button>
    
    </form>

    <div id="pillsContainer">
    	<ul class="nav nav-pills">
    		<li class="active"><a data-toggle="pill" href="#tweets">Tweets</a></li>
    		<li><a data-toggle="pill" href="#info">Info</a></li>
    	</ul>
    </div>

    <div class="tab-content">
    	
    	<div id="tweets" class="tab-pane fade in active">
				<table class="table" id="tweetTable">
					<tr ng-repeat="tweet in tweets">
						<td id="screen_name">
							<a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}">
							@{{tweet.user.screen_name}}
							</a>
						</td>
						<td id="tweet_text" ng-bind-html="tweet.text | linky">{{tweet.text}}</td>
						<td id="created_at">{{tweet.created_at.slice(0, 19)}}</td>
					</tr>
				</table>
			</div>

			<div id="info" class="tab-pane fade">
        <table class="table" id="infoTable">
          <tr ng-repeat="beer in beers">
            <td style="background-color: #00A651">
              <span id="beerImage"><img src="{{beer.labels.medium}}"></span>
              <span id="beerName">{{beer.name}}</span>
            </td>
            <td id="beerDescription">
              <span id="beerText">{{beer.description || "sorry, no description available"}}</span>
              <span id="beerAbv">ABV: {{beer.abv}}%</span>
              <span id="beerIbu">IBUs: {{beer.ibu}}</span>
              <span id="beerAvailable">Availability: {{beer.available.name}}</span>
            </td>
            <td id="beerBrewery">
              <span>{{beer.breweries[0].name}}</span>
              <span id="beerBreweryImage"><img src="{{beer.breweries[0].images.medium}}"></span>
              <span id="beerBreweryWebsite" href="{{beer.breweries[0].website">{{beer.breweries[0].website}}</span>
            </td>
          </tr>
        </table>
			</div>

		</div>
</body>
</html>