body {
	background-color: rgba(102, 45, 148, 0.86);
}

#headerContainer {
  margin: auto;
  margin-top: 3vh;
  width: 75%;
  background-color: #00A651;
  border-radius: 15px;
}

#logo {
  text-align: center;
  height: 200px;
}

#title {
  text-shadow: 2px 5px black;
  font-family: Impact;
  font-size: 75px;
  color: whitesmoke;
  position: relative;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#instructions {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  margin: auto;
  margin-top: 1vh;
  padding: 10px;
  text-align: center;
  background-color: white;
  width: 75%;
  border-radius: 15px;
}

#breweryDB {
	width: 20%;
}

#search {
  width: 240px;
  height: 240px;
  margin-top: 2px;
  margin-left: -7px;
}

#input-form {
  background-color: rgb(70, 70, 70);
  text-align: center;
  margin: auto;
  margin-top: 1vh;
  width: 75%;
  height: 285px;
  border-radius: 15px;
}

#inputContainer {
	float: left;
}

.form-control {
	height: 45px;
	font-size: 25px;
}

.form-group {
	margin-left: 10px;
}

label {
  color: white;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  float: left;
  margin-left: 1%;
}

input {
  width: 30%;
  font-size: 22px;
  font-family: Roboto;
}

button {
  background-color: #D20D21;
  width: 200px;
  height: 200px;
  border-radius: 30px !important;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px !important;
  margin-left: 15px;
}

button:hover {
	background-color: white;
	border-color: #00A651;
}

#pillsContainer {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 20%;
  height: 55px;
  margin: auto;
  margin-top: 1vh;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.nav {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills>li.active>a {
	background-color: #4FB9ED;
}

#tweetTable {
  width: 75%;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: white;
  color: white;
}

tr {
   height: 10vh;
}

.table>tbody>tr>td {
	border-top: 3px solid #464646;
}

a {
  color: rgb(209, 13, 33);
  text-decoration: underline;
}

#screen_name {
  font-family: Impact;
  font-size: 18px;
  color: #464646;
  vertical-align: middle;
  text-align: center;
  background-color: #EB9C20;
}

#tweet_text {
	font-family: Helvetica Neue;
	color: #292f33;
	font-size: 1.5em;
}

#created_at {
	color: #464646;
	font-style: italic;
	font-size: 14px;
	font-weight: 800;

}

/* INFO tab */

#infoTable {
  background-color: white;
  margin-top: 3vh;
}

#beerImage > img {
  width: 150px;
}

#beerName {
  margin-top: 10px;
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: impact;
  color: white;
}

#beerDescription {
  vertical-align: middle;
}

span#beerText {
  font-size: 1.5em !important;
}

#beerAbv {
  display: block;
  font-size: 15px;
  font-family: impact;
  margin-top: 10px;
}

#beerIbu {
  display: block;
  font-size: 15px;
  font-family: impact;
}

#beerAvailable {
  display: block;
  font-size: 15px;
  font-family: impact;
}

#beerBrewery {
  text-align: center;
  font-size: 20px;
  background-color: #D10D21;
  color: white;
  font-weight: bold;
}

#beerBreweryImage > img {
  margin-top: 10px;
  margin-bottom: 15px;
}

#beerBreweryWebsite {

}